.text-bg-color{
   background-color: #B4656F;
    height: auto;
    left: 50%;
    border: 2px solid #EEE0CB;
    color: #EEE0CB;
}

img{
    max-width: 100%;
    min-height: 100%;
    background-size: 100% 100%;
}