.text-bg-color{
   background-color: #B4656F;
    height: auto;
    left: 50%;
    border: 2px solid #EEE0CB;
    color: #EEE0CB;
}

/*.card-body>img{*/
/*    min-height: 20rem;*/
/*    max-width: 50%;*/
/*    min-width: 100%;*/
/*}*/

.carousel-item>.card{
    height: 40rem;
}

.card-img-sizing{
   height:auto;
    max-width:100%;
    object-fit: contain;
    overflow-x: hidden;
}